@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*SETUP*/

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    text-decoration: none;
}

:root {
    --main: #72c5ed;
    --black: #444;
    --lightGray: #777;
    --white: #FFF;
    --border: 0.2rem solid var(--main);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}


/*CSS*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1.5rem;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    margin-left: 1rem;
    font-size: 2.65rem;
    color: var(--black);
}

.header .navbar a {
    color: var(--black);
    margin: 1.5rem;
    font-size: 1.8rem;
}

.header .navbar a:hover {
    color: var(--main);
    border-bottom: 0.2rem solid var(--main);
    padding-bottom: 0.2rem;
}

.popup {
    position: absolute;
    top: 420%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20px 30px;
    background: var(--white);
    box-shadow: 2px 2px 5px 3px var(--main);
    border-radius: 10px;
}

.popup .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: var(--lightGray);
    color: var(--white);
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .signUpForm h2 {
    text-align: center;
    color: var(--black);
    margin: 10px 0px 20px;
    font-size: 2.2rem;
}

.popup .signUpForm .element {
    margin: 12px 0px;
}

.popup .signUpForm .element .eye {
    font-size: 2rem;
    color: var(--black);
    position: absolute;
    right: 40px;
    transform: translate(0, -50%);
    top: 61.5%;
    cursor: pointer;
}

.popup .signUpForm .element .eyeClose {
    display: none;
}

.popup .signUpForm .element label {
    font-size: 1.8rem;
    color: var(--black);
}

.popup .signUpForm .element input[type="text"],
.popup .signUpForm .element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.popup .signUpForm .element .logIn {
    font-style: italic;
}

.popup .signUpForm .element .logInButton {
    font-size: 1.325rem;
    font-style: italic;
}

.popup .signUpForm .element input[type="checkbox"] {
    margin-left: 5px;
}

.popup .signUpForm .element .signUpButton {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 13rem;
    font-size: 1.5rem;
    background: var(--main);
    color: var(--white);
    cursor: pointer;
}

.popup .signUpForm .element .signUpButton:hover {
    filter: brightness(1.1);
}